.container {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100 * var(--vh));
  width: 100%;
  z-index: z('cursor');
  pointer-events: none;
  overflow: hidden;

  .cursor {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    opacity: 0.6;
    transition: transform 600ms var(--ease-out-expo);

    &.pointer {
      transform: translate(-50%, -50%) scale(0.4);
    }
  }

  @media (hover: none) {
    display: none;
  }
}
