.overview {
  padding-top: max(25rem, 100px);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: max(3rem, 20px);

  h1 {
    @extend %text-64;
    font-family: var(--font-cormorant);
    font-weight: 500;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    color: var(--theme-green);

    em {
      text-transform: none;
      font-style: italic;
    }
  }

  &-column {
    &-1 {
      position: absolute;
      left: 5px;
      top: max(35rem, 150px);
      width: max(25rem, 80px);

      @include respondMax('tablet') {
        display: none;
      }
    }

    &-2 {
      position: absolute;
      right: 5px;
      top: max(35rem, 150px);
      width: max(25rem, 80px);
      @include respondMax('tablet') {
        display: none;
      }
    }
  }

  &-i {
    width: max(65.2rem, 400px);
    max-width: 100%;
    @include ratio(652, 549);
    overflow: visible;

    img {
      width: 100%;
      height: 100%;
    }

    &-ul {
      display: flex;
      flex-direction: column;
      gap: max(1.25rem, 8px);

      padding-top: max(2.2rem, 18px);
      padding-left: max(2.2rem, 18px);

      grid-column: 1 / -1;
      grid-row: 1 / -1;

      max-height: 90%;
      overflow: hidden;

      &-w {
        display: grid;
        width: max(26.2rem, 180px);
        height: auto;
        @include ratio(262, 167);

        position: absolute;
        z-index: 1;
        left: calc(0% - max(10rem, 40px));
        top: calc(0% + max(7rem, 30px));

        &::after {
          content: '';
          position: absolute;
          left: max(2.2rem, 18px);
          right: max(2.2rem, 18px);
          bottom: max(1.5rem, 10px);
          height: max(6rem, 35px);
          background: linear-gradient(
            180deg,
            rgba(248, 248, 246, 0) 0%,
            #f8f8f6 94.9%
          );
        }

        svg {
          grid-column: 1 / -1;
          grid-row: 1 / -1;
        }
      }

      li {
        @extend %text-12;
        font-family: var(--font-geist);
        font-weight: 400;
        line-height: 100%;
        color: var(--theme-brown);
        text-transform: uppercase;
      }
    }
  }

  &-p {
    padding-block: max(20rem, 100px);

    width: max(60rem, 450px);
    max-width: 96vw;

    @extend %text-24;
    font-weight: 500;
    line-height: 136%;
    text-align: center;
    color: var(--theme-brown);
  }
}

.logo {
  position: fixed;
  top: max(5rem, 20px);
  left: 50%;
  z-index: z('navigation');
  transform: translateX(-50%);
  width: max(29.2rem, 200px);
}

.nav {
  position: fixed;
  left: 50%;
  bottom: max(3rem, 15px);
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: z('navigation');

  button {
    font-size: max(1.2rem, 10px);
    white-space: nowrap;
    font-family: var(--font-geist);
    font-weight: 400;
    line-height: 100%;
    color: var(--theme-brown);
    text-transform: uppercase;
    background: var(--theme-white);
    padding: max(1.2rem, 8px);

    border-top: 1px solid var(--theme-brown);
    border-bottom: 1px solid var(--theme-brown);
    border-right: 1px solid var(--theme-brown);
    background: var(--theme-white);

    &:first-of-type {
      border-left: 1px solid var(--theme-brown);
    }
  }
}

.gs {
  @extend %text-12;
  font-weight: 600;
  line-height: 100%;
  color: var(--theme-brown);
  text-transform: uppercase;
  background: var(--theme-white);

  display: grid;
  place-items: center;

  span,
  svg {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  svg {
    width: max(16rem, 120px);
    height: auto;
  }
}

.claude {
  min-height: 100svh;
  position: relative;

  @extend %center;
  flex-direction: column;
  gap: max(3rem, 30px);

  padding-block: max(10rem, 50px);
  padding-inline: var(--gutter);
  color: var(--theme-white);

  &-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--theme-brown);
    pointer-events: none;
    object-fit: cover;
  }

  h1 {
    font-family: var(--font-cormorant);
    font-weight: 500;
    font-size: max(4rem, 25px);
    line-height: 103%;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    @extend %text-12;
    text-align: center;
    font-weight: 500;
    line-height: 149%;
    text-align: center;

    em {
      font-family: var(--font-geist);
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  pre {
    @extend %text-12;
    font-family: var(--font-geist);
    font-weight: 400;
    line-height: 140%;

    background: #6e5d43;
    border: 1px solid #f8f8f6;

    padding-block: max(4.4rem, 20px);
    padding-inline: max(6rem, 20px);

    max-width: 96vw;
    overflow: hidden;
  }

  img {
    width: max(36rem, 200px);
    margin-block: max(4rem, 30px);
  }
}

.contributions {
  padding-inline: 25rem;

  @include respondMax('tablet2x') {
    padding-inline: 10vw;
  }

  @include respondMax('mobile2x') {
    padding-inline: var(--gutter);
  }

  &-top {
    padding-top: max(15rem, 80px);
    padding-bottom: max(10rem, 70px);

    h1 {
      @extend %text-64;
      font-family: var(--font-cormorant);
      font-weight: 500;
      line-height: 90%;
      color: var(--theme-green);
      text-transform: uppercase;
      margin-bottom: max(2rem, 15px);
    }

    & > p {
      @extend %text-14;
      font-weight: 500;
      line-height: 149%;
      margin-bottom: max(5rem, 30px);
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: max(5rem, 25px);

      @include respondMax('tablet') {
        grid-template-columns: repeat(2, 1fr);
        gap: max(10vw, 20px) max(6vw, 15px);
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: max(3rem, 20px);

        text-align: center;
        padding-inline: max(2rem, 25px);

        color: var(--theme-brown);

        @include ratio(194, 194);
        width: max(19.4rem, 130px);
        min-width: max(19.4rem, 130px);

        @include respondMax('tablet') {
          width: 100%;
        }

        img {
          position: absolute;
          inset: 0;
          width: 100%;
        }

        small {
          @extend %text-12;
          font-family: var(--font-geist);
          font-weight: 400;
          line-height: 140%;
          @include respondMax('tablet') {
            font-size: max(12px, 2vw);
          }
        }

        p {
          @extend %text-16;
          font-weight: 500;
          line-height: 120%;
          @include respondMax('tablet') {
            font-size: max(14px, 3vw);
          }
        }
      }
    }
  }

  &-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: max(10vw, 60px) max(15vw, 15px);
    padding-bottom: max(15rem, 90px);

    @include respondMax('mobile2x') {
      grid-template-columns: 1fr;
    }

    &-item {
      width: max(20rem, 150px);
      @include respondMax('mobile2x') {
        width: 100%;
        max-width: 65vw;
      }

      h2 {
        @extend %aic;
        gap: max(0.75rem, 5px);
        margin-bottom: max(2rem, 10px);

        @extend %text-12;
        font-family: var(--font-geist);
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
      }

      &-p {
        @extend %text-16;
        font-weight: 500;
        line-height: 120%;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

.contact {
  min-height: 100svh;

  display: grid;
  place-items: center;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  padding-bottom: max(50px, 30vh);

  &-img {
    width: max(98rem, 500px);
    max-height: 96vh;
    position: absolute;
    bottom: 0;
  }

  &-main {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: max(3rem, 30px);
    overflow: hidden;

    .logo {
      position: static;
      transform: unset;
    }

    .nav {
      position: static;
      transform: unset;
      padding-top: max(6vh, 30px);
    }

    p {
      @extend %text-12;
      color: var(--theme-black);
      font-weight: 500;
      line-height: 149%;
      text-align: center;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: max(1.5rem, 10px);

      li {
        @extend %center;
        width: max(3.6rem, 30px);
        height: max(3.6rem, 30px);
        border: 1px solid #9d8b6f;
        border-left: none;

        &:first-of-type {
          border-left: 1px solid #9d8b6f;
        }
      }
    }
  }
}

.get-started {
  padding-inline: 8vw;
  padding-block: max(15rem, 80px);
  min-height: 100svh;
  background: var(--theme-green);
  color: var(--theme-white);
  position: relative;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: max(5rem, 40px);

  @include respondMax('tablet3x') {
    padding-inline: var(--gutter);
  }

  &-i {
    opacity: 0.4;
    mix-blend-mode: color-burn;
    pointer-events: none;
  }

  .gs {
    width: fit-content;
    margin-inline: auto;
    background: transparent;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: max(2rem, 14px) max(2rem, 10px);

    @include respondMax('tablet2x') {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      display: grid;
      place-items: center;
      text-align: center;
      position: relative;
      overflow: hidden;

      div,
      svg {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
      }

      svg {
        width: 100%;
        height: 100%;
      }

      p {
        @extend %text-20;
        font-weight: 500;
        line-height: 120%;
      }

      small {
        @extend %text-12;
        font-family: var(--font-geist);
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;

        position: absolute;
        top: max(1.2rem, 8px);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: max(3rem, 20px);

    margin-bottom: max(6rem, 30px);

    @include respondMax('tablet') {
      flex-direction: column;
      align-items: flex-start;
      gap: max(10rem, 60px);
    }

    &-text {
      h1 {
        @extend %text-64;
        font-family: var(--font-cormorant);
        font-weight: 500;
        line-height: 90%;
        text-transform: uppercase;
        margin-bottom: max(6rem, 40px);
      }

      small {
        @extend %text-12;
        font-family: var(--font-geist);
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
        color: #d6d6d6;
        margin-bottom: max(0.8rem, 7px);
        display: block;
      }

      p {
        @extend %aic;
        gap: max(1rem, 6px);

        @extend %text-14;
        font-weight: 500;
        line-height: 120%;
      }
    }

    &-video {
      background: var(--theme-white);
      padding: max(1.2rem, 10px);
      width: max(65rem, 350px);
      height: auto;

      @include ratio(650, 350);
      @include respondMax('tablet') {
        width: 100%;
        @include ratio(650, 400);
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid var(--theme-brown);
      }
    }
  }
}

.features {
  min-height: 100svh;
  padding-inline: var(--gutter);
  margin-bottom: max(20rem, 120px);

  h1 {
    @extend %text-64;
    font-family: var(--font-cormorant);
    font-weight: 500;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    color: var(--theme-green);
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include respondMax('mobile3x') {
      grid-template-columns: 1fr;
    }

    &-item {
      display: grid;
      width: max(38.5rem, 250px);
      place-items: center;
      position: relative;
      overflow: hidden;

      &:nth-of-type(even) {
        margin-left: auto;
      }

      @include respondMax('tablet') {
        width: 100%;
        margin-top: -3px;
        margin-left: -2px !important;

        &:nth-of-type(1),
        &:nth-of-type(3) {
          margin-left: 0 !important;
        }

        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-top: 0;
        }
      }

      @include respondMax('mobile3x') {
        margin-top: -3px;
        margin-left: 0 !important;

        &:nth-of-type(1) {
          margin-top: 0;
        }

        &:nth-of-type(2) {
          margin-top: -3px;
        }
      }

      small {
        @extend %text-12;
        font-family: var(--font-geist);
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
        color: var(--theme-brown);

        position: absolute;
        z-index: 2;
        top: max(1rem, 7px);
        left: 50%;
        transform: translateX(-50%);
      }

      h2 {
        @extend %text-32;
        letter-spacing: -0.05em;
        font-family: var(--font-cormorant);
        font-weight: 500;
        line-height: 90%;
        text-align: center;
        text-transform: uppercase;
        color: var(--theme-green);
        @include respondMax('mobile3x') {
          font-size: max(10rem, 28px);
        }
      }

      p {
        @extend %text-12;
        font-weight: 500;
        line-height: 149%;
        text-align: center;
        @include respondMax('mobile3x') {
          font-size: max(5rem, 12px);
        }
      }

      ul {
        margin-right: auto;
        display: grid;
        gap: max(0.75rem, 3px);

        li {
          @extend %text-12;
          font-weight: 500;
          line-height: 149%;

          @extend %aic;
          gap: max(1.2rem, 8px);

          @include respondMax('mobile3x') {
            font-size: max(5rem, 12px);
          }

          svg {
            width: max(0.8rem, 5px);
            height: auto;
            @include respondMax('mobile3x') {
              width: max(2rem, 5px);
              min-width: max(2rem, 5px);
            }
          }
        }
      }

      &-i,
      &-div {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
      }

      &-div {
        z-index: 1;
        padding-inline: max(3.5rem, 20px);

        display: grid;
        place-items: center;
        gap: max(3rem, 20px);

        @include respondMax('mobile3x') {
          gap: max(9rem, 10px);
          padding-inline: max(8rem, 20px);
        }

        p {
          width: max(25.5rem, 210px);
          @include respondMax('mobile3x') {
            width: max(100rem, 210px);
          }
        }

        & > img {
          max-width: max(6rem, 40px);
        }
      }

      &-i {
        width: 100%;
      }

      &-d {
        display: grid;
        place-items: center;
        gap: max(1rem, 6px);
      }
    }
  }

  &-div {
    position: relative;
    margin-top: max(5rem, 20px);

    &-i {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: max(40rem, 170px);

      @include respondMax('tablet') {
        display: none;
      }
    }
  }
}

.protocols {
  min-height: 100svh;
  padding-inline: var(--gutter);
  margin-bottom: max(15rem, 100px);

  h1 {
    @extend %text-64;
    font-family: var(--font-cormorant);
    font-weight: 500;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    color: var(--theme-green);
    margin-bottom: max(6rem, 30px);
  }

  &-list {
    display: grid;
    gap: max(5rem, 30px);

    &-item {
      h2 {
        @extend %text-20;
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        margin-bottom: max(3rem, 15px);
      }

      &-sub {
        @include ratio(194, 194);
        width: max(19.4rem, 130px);
        min-width: max(19.4rem, 130px);
        height: auto;

        @extend %center;
        flex-direction: column;
        gap: max(3.5rem, 20px);

        @include respondMax('tablet') {
          width: 100%;
        }

        span {
          @extend %text-12;
          font-family: var(--font-geist);
          font-weight: 400;
          line-height: 140%;
          text-transform: uppercase;
          color: var(--theme-brown);

          @extend %aic;
          gap: max(0.75rem, 5px);

          img {
            max-width: max(6.4rem, 40px);
          }
        }

        &-i {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
        }
      }

      &-d {
        @extend %center;
        gap: max(2.5rem, 15px);
      }
    }
  }
}
